@import "tailwindcss";

:root {
  --crema:    #F7F3EE;
  --crema2:   #EEE8DF;
  --crema3:   #DDD7CE;
  --negro:    #0A0A08;
  --grafito:  #2C2C28;
  --gris:     #8A8880;
  --gris-l:   #C2BDB6;
  --amarillo: #F5C518;
  --amarillo2:#E8B800;
  --blanco:   #FDFBF8;
}

html { scroll-behavior: smooth; }

body {
  background: var(--crema);
  color: var(--grafito);
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

@theme inline {
  --color-crema: var(--crema);
  --color-crema2: var(--crema2);
  --color-crema3: var(--crema3);
  --color-negro: var(--negro);
  --color-grafito: var(--grafito);
  --color-gris: var(--gris);
  --color-gris-l: var(--gris-l);
  --color-amarillo: var(--amarillo);
  --color-blanco: var(--blanco);
}
